.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: black !important;
}
.active {
  background-color: #225470 !;
  color: #fff;
}

.navbar
{
  background-color: blue !important;
}